node_modules\n*.log\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\npnpm-debug.log*\n.next/\nout/\nbuild/\n.DS_Store\n*.pem\n.env*\n.vercel\n*.tsbuildinfo\nnext-env.d.ts\n.vscode\n.idea\n*.swp\n*.swo\n*~\nThumbs.db\n.git\n.gitignore\nREADME*.md\nDockerfile*\ndocker-compose*\n.dockerignore\nlogs\n*.log\npids\n*.pid\n*.seed\n*.pid.lock\ncoverage\ndist\nbuild\ndocs/\n*.md\nexamples/\ne2e/\ntests/\n__tests__/\n*.test.*\n*.spec.*\ndeploy/\n.github/\n.cache/\n.parcel-cache/\n.turbo/\n.env\nkeys.json
